@model DatabaseLayer.EmployeeModel

@{
    ViewData["Title"] = "GetEmployeeData";
}
<head>
    <link rel="stylesheet" href="~/css/AddEmployee.css">
</head>
<div class="heading">
    <img src="~/Assets/logo.jpeg" style="width:50px;height:50px" />
    <div>
        <span style="color: #82A70C">EMPLOYEE</span>
        <br />
        <span style="color: #82A70C">PAYROLL</span>
    </div>
</div>
<h3 style="text-align: center; font-family:Dubai">Employee Details</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
