@model IEnumerable<DatabaseLayer.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}


    <link rel="stylesheet" href="~/css/Index.css" />

<div class="heading">
    <img src="~/Assets/logo.jpeg" style="width:50px;height:50px" />
    <div>
        <span style="color: #82A70C">EMPLOYEE</span>
        <br />
        <span style="color: #82A70C">PAYROLL</span>
    </div>
</div>

<p>
    <a asp-action="AddEmployee" class="btn btn-primary ml-auto">Add Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateEmployee", new { id = item.EmpId }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Details", "GetEmployeeData", new { id = item.EmpId }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.EmpId }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
