@model IEnumerable<DatabaseLayer.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/Index.css" />

    <div class="heading">
        <img src="~/Assets/logo.jpeg" style="width:50px;height:50px" />
        <div>
            <span style="color: #82A70C">EMPLOYEE</span>
            <br />
            <span style="color: #82A70C">PAYROLL</span>
        </div>
    </div>

    <h1 style="text-align: center; font-family:Dubai">Employee List</h1>

    <p>
        <button class="btn btn-success btn-sm" onclick='window.location.href ="@Url.Action("AddEmployee","Employee")" ;'><i class="fa-solid fa-plus"></i> Add Employee</button>
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmpId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfileImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpName)
                    </td>
                    <td>
                        <img src="@Url.Content(item.ProfileImage)" alt="Profile Image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "GetEmployeeData", new { id = item.EmpId }, new { @class = "btn btn-outline-info btn-sm" })
                    </td>
                    <td>
                        @Html.ActionLink("Update", "UpdateEmployee", new { id = item.EmpId }, new { @class = "btn btn-outline-primary btn-sm" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.EmpId }, new { @class = "btn btn-outline-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
